@import url(https://fonts.googleapis.com/css?family=Shantell+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  /*! height: 100%; багует фон */
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* noramalize */

body {
  background: url(/img/bg2.jpg)fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-family: 'Shantell Sans', sans-serif;
}


.wpapper {
  max-width: 1032px;
  background-color: rgba(32, 20, 30, 0.8);
  padding: 0 20px;
  border-radius: 30px;
}

p {
  padding: 0px 0px 20px 0px;
  display: inline-block;
  justify-content: center;
  text-align: center;
  max-width: 760px;
}

img {
  margin-bottom: 10px;
}

.header {}

.header_wraper {}

.header__title {}

.header__subtitle {
  font-size: 50px;
  padding: 0px 0px 10px 0px;
}

.nav {}

.nav__list {
  display: flex;
  justify-content: center;
  text-align: center;
}


.header__nav-item {
  padding: 0px 0px 20px 0px;
}

.header__nav-item:not(:last-child) {
  padding: 0px 20px 0px 0px;
}

.header__list-item-link {
  color: yellow;
}


.main {}

.main_wrapper {}

.main_content {}

.main_content-text {}

.picture {}

.picture__img-hiragana {}

.hiragana__kontent {}

.hiragana__kontent-text {
  /* ! разделить и убрать отступ */
}

.img_translate {}

.list {
  display: flex;
  justify-content: center;
  text-align: start;
}

.item_list {
  margin-left: 30%  ;
}

.item__list-text {}

.katakana__kontent {}

.katakana__kontent-text {}

.katakana__kontent-img {}

.katakana__img {}

.footer {}

.footer__text {}

.footer__item-link {
  color: yellow;
}

.footer__secret {
  display: flex;
  margin-left: 30px;
}

.footer__secret-link {
  font-size: 13px;
  color: wheat;

}