* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* noramalize */

body {
  background: url(/img/bg2.jpg)fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
}


.wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  background: rgb(136, 136, 136);
  box-shadow: 0 0 20px rgb(0, 0, 0);
  border-radius: 30px;
  flex-direction: column;
  font-size: 20px;
  padding: 15px;
  min-width: 1000px;
  width: 100%;
  max-width: 55%;
  height: auto;
}

.header {}

.header_wraper {}

.header__title {}

.header__subtitle {}

.nav {}

.nav__list {}

.header__nav-item {}

.header__list-item-link {}

.main {}

.main_wrapper {}

.main_content {}

.main_content-text {}

.picture {}

.picture__img-hiragana {}

.hiragana__kontent {}

.hiragana__kontent-text {}

.img_translate {}

.list {}

.item_list {}

.item__list-text {}

.katakana__kontent {}

.katakana__kontent-text {}

.katakana__kontent-img {}

.katakana__img {}

.footer {}

.footer__text {}

.footer__item-link {}

.footer__secret {}

.footer__secret-link {}